.sentence__box {
    margin-bottom: 5px;
}

.sentence__box__id {
    display: inline;
    font-weight: bolder;
}

.sentence__box__content {
    display: inline;
    margin-left: 12px;
    cursor: pointer;
}

.important__sentence {
    background: yellow;
}

.app__flexbox {
    display: flex;
}

.file__box {
    max-height: 60vh;
    overflow-y: scroll;
    margin-top: 20px;
}

#important-sentences {
    display: block;
    resize: none;
    max-height: 60vh;
    min-width: 30vw;
    overflow-y: scroll;
    height: 60vh;
}

#important-sentences > p {
    margin: 0px;
}

.save-btn {
    padding: 20px;
    margin: 10px;
    background: green;
    color: white;
    border: 0px solid;
}